asgiref
autopep8
uwsgi>=2.0.18,<2.1.0
six
djangorestframework
channels
Django
django-mptt
django_celery_beat
django_celery_results
django_ckeditor
paytm
pycodestyle
psycopg2    
python-decouple
pypdf2==1.26.0
pytz
sqlparse
Unipath
requests-oauthlib
requests
boto3
django-storages
pillow
camelot-py
boto3>=1.12.0,<1.13.0
constants
botocore
wagtail
python3_ghostscript
PyPDF4
drf-yasg
django-rest-swagger
social-auth-app-django==4.0.0
opencv-python
xmltodict
python-social-auth
unipath
django-ckeditor
emails
django-social-share
gunicorn
django-heroku
django-mathfilters