<!--
=========================================================
* Argon Design System Pro - v1.0.3
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system-pro
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'includes/cssfiledesign.html' %}
<style>
    #third{
        background: url("https://mytaxboard.in/static/assets_design/img/ill/404.svg") 50% 0 no-repeat fixed;
        {% comment %} color: white;
        height: 650px;
        padding: 100px 0 0 0;    {% endcomment %}
        }
</style>
</head>
{% block content %}

<body class="error-page">
  <div class="wrapper">
    <div class="page-header page-500">
      <div class="page-header-image" id="third">
      </div>
      <div class="container low">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="display-4">Error :(</h4>
            <p class="lead">We are sorry. This was unexpected.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
{% include 'includes/jsfiledesign.html' %}

{% block script %}

  
  {% endblock script %}
</body>

</html>