{% comment %} <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- css -->
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Change Password</title>
  </head>
  <body>
   
   <!-- Message -->

   {% if messages%}

   {%for message in messages%}
<div class="container mt-3 message alert alert-{{message.tags}} text-center">{{message}}</div>
   {%endfor%}

   {%endif%}


   <!-- Change Password form -->

   <div class="mt-5 change-password-form pb-3 shadow">
       <h3 class="p-3 text-center">Change Password Form</h3>
       <form method="POST" class="px-5 pt-4"> {% csrf_token%}


<label>New Password</label><br>
<input type="password" name="password1" required> 
<br><br>

<label>Confirm Password</label><br>
<input type="password" name="password2" required>
        
         <br><br>

<button class="btn">Change Password</button>
       </form> <br>
       </div>
  </body>
</html> {% endcomment %}


{% include 'includes/cssfiledesign.html' %}

<div tabindex="-1" style="position: relative; z-index: 1050; display: block;">
  <div class="">
      <div class="modal fade show" role="dialog" tabindex="-1" style="display: block;">
        {% if messages%}

        {%for message in messages%}
                    <div class="container mt-3 message alert alert-{{message.tags}} text-center text-danger">{{message}}</div>
        {%endfor%}
     
        {%endif%}
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="text-center">
                          <img src="/static/assets_design/img/password_reset/lock.svg" alt="error" style="width: 60px; height: 60px;">
                          <h4 class="font-weight-bold">Change Password</h4>
                          <p></p>
                      </div>
                      <div class="mt-5 justify-content-center row">
                          <div class="col-md-10">
                              <form class="" method="post">
                                {%csrf_token%}
                                  <div class="form-group">
                                      <label for="pass1">Enter New Password</label>
                                      <div class="row">
                                          <div class="col">
                                              <input name="password1" id="pass1" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Enter New Password" message="Your password must contain atleast 8 character, Uppercase, lowercase, Number and Special Character." required="" type="password" class="form-control" style="border-color: rgb(67, 161, 246); font-size: 18px; color: black;">
                                          </div>
                                          <div class="col-auto px-0 my-auto col" onclick="myFunction()">
                                              <i class="fas fa-eye" style="font-size: 16px;"></i>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="form-control-label" for="pass2">Enter New Password Again</label>
                                      <div class="row"><div class="col">
                                          <input name="password2" id="pass2" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Enter New Password" message="Your password must contain atleast 8 character, Uppercase, lowercase, Number and Special Character." required="" type="password" class="form-control" style="border-color: rgb(67, 161, 246); font-size: 18px; color: black;">
                                      </div>
                                      <div class="col-auto px-0 my-auto col" onclick="myFunction1()">
                                          <i  class="fas fa-eye" id="one" style="font-size: 16px;"></i>
                                      </div>
                                  </div>
                                  <p class="text-red"></p>
                              </div>
                              <div class="text-center form-group">
                                  <button type="submit" class="btn btn-rounded btn btn-secondary" style="background-color: rgb(67, 161, 246); color: white; border-radius: 20px;">Submit</button>
                                  <button type="button" class="btn btn-rounded btn btn-secondary" style="background-color: rgb(67, 161, 246); color: white; border-radius: 20px;">Cancel</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-backdrop fade show">

  </div>
</div>  
</div>
<script>
  {% comment %} $("#one").hide(); {% endcomment %}


  function myFunction() {
    var x = document.getElementById("pass1");
    if (x.type === "password") {
      {% comment %} <i class="fa fa-eye-slash" aria-hidden="true"></i> {% endcomment %}

      x.type = "text";
      
    } else {
      x.type = "password";
    }
  }
  function myFunction1() {
    var x = document.getElementById("pass2");
    if (x.type === "password") {
      {% comment %} <i class="fa fa-eye-slash" aria-hidden="true"></i> {% endcomment %}
      {% comment %} $("#one").addClass("fa-eye-slash"); {% endcomment %}
      {% comment %} $("#one").removeClass("fa fa-eye"); {% endcomment %}
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>
  