body{
    background-color:#f8f8f8 !important;

}
.dz {
    border: dashed !important;
    background-color:red!important;
    border-radius:10px !important;
}

.dz:hover{
    background-color:rgb(14, 115, 202) !important;
}