<html>
<body>
    <div class="" style="display: flex; justify-content: center; align-items: center;">
        <div class="col text-center" >
            <img src="cid:myimage" alt="eror">
        </div>
    </div>

    <div style="margin-top:10px;">
        <div class="" style="display: flex; justify-content: center; align-items: center;">
            <div class="" style="background-color:white;width:50em;">
                <div class="">
                    <h1 class="mb-4"><b>{{username}} Welcome to Mytaxboard</b></h1>
                    <p>Thank you for SIGNUP!</p>
                    <p>We in My taxboard provide an efficient Tax management services that streamlines quality assessments, ensuring consistency across all the multi-unit organizations with real-time data.You will now be the first to discover our latest updates from new features to special occasion discounts and to know where our services hit the shelves.</p>
                    <p>In the next few weeks you will receive emails introducing our-</p>
                    <p>savings and members-only offers</p>
                    <p>Events and discounts</p>
                    <p>And much more!</p>
                    <p>Have a good day !</p>
                    <div >
                        <button type="" style="background-color:green;height:45px;border:0px;border-radius:0%;color:white; ">
                        Your OTP authentication is : {{otp}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>