{% extends "dashboard_base_for_business.html" %}

{% load static %}

{% block content %}

<style>
  .container{
    max-width: 1350px;
  }
</style>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="container mt-5">
        <p class="display-4 text-center">How can be Help??</p>
      </div>
      <div class="container mt-3">
        <div class="row">
          <div class="offset-1">
          </div>
          <div class="col-md-8">
            <div class="form-group has-primary">
              <input type="text" placeholder="Search your blog" class="form-control is-" />
            </div>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success btn-round">Search Your Blogs</button>
          </div>
         </div>
      </div>
      <div class="container mt-3">
        <div class="row">
          {%for i in data%}
          <div class="col-md-4">
            <a href="{{i.help_center_title_page_link}}">
              {% if i.background_color_code is none%}
                <div class="card card-pricing card-background" style="background-color:{{i.background_color_name}}">
              {%else%}
                <div class="card card-pricing card-background" style="background-color:{{i.background_color_code}}">
              {%endif%}
                <div class="card-body">
                  
                  <h3 class="card-title text-white text-center">{{i.help_center_title}}</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> {{i.help_center_description}}</h4>
                </div>
              </div>
            </a>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img class=" mx-auto p-2" src="/static/svg/tax_tool/help_center/idea.svg" alt="">
      </div>
      <div class="col-md-4 p-2">
        <p class="display-3 text-left font-weight-600">Out of box Question?</p>
        <p class="font-weight-600 ">We love to here</p>
      </div>
      
      <div class="col-md-3 p-2 mt-3">
       <p class="font-weight-600 ml-3">Send us email with more detail about your specific needs</p>
      </div>

      <div class="col-md-3 p-2 mt-4">
        <button class="btn btn-success ml-3">Send a Request</button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock content %}
<!-- First Panel -->

{% block script %}

<script>
    $('.nav-item a').removeClass('btn btn-primary text-white');
    $('.help_center-item a').addClass('btn btn-primary text-white');
    $('.help_center-item a img').attr('src','/static/svg/dashboard_base/help_center_w.svg');

    </script>
{% endblock script %}



{% comment %} 
{% load static %}

{% block content %}

<style>
  .container{
    max-width: 1350px;
  }
</style>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="container mt-5">
        <p class="display-4 text-center">How can be Help??</p>
        
      </div>
      
      
      <div class="container mt-3">
        <div class="row">
          <div class="offset-1">
      
          </div>
          <div class="col-md-8">
            <div class="form-group has-primary">
              <input type="text" placeholder="Search your blog" class="form-control is-" />
            </div>
          </div>
      
          <div class="col-md-3">
            <button type="button" class="btn btn-success btn-round">Search Your Blogs</button>
          </div>
         </div>
      </div>
      
      
      <div class="container mt-3">
        <div class="row">
          
          <div class="col-md-4">
            <a href="https://www.creative-tim.com/knowledge-center/getting-started/">
              <div class="card card-pricing card-background" style="background-color: #11D1EF;">
                <div class="card-body">
                  
                  <h3 class="card-title text-white text-center">Getting Started</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit, doloremque id. Dolor sequi dolores quibusdam minus architecto quae necessitatibus id. </h4>
                </div>
              </div>
            </a>
          </div>
      
      
      
      
          <div class="col-md-4">
            <a href="https://www.creative-tim.com/knowledge-center/getting-started/">
              <div class="card card-pricing bg-success text-center">
                <div class="card-body">
                  
                  <h3 class="card-title text-white text-center">Products</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit, doloremque id. Dolor sequi dolores quibusdam minus architecto quae necessitatibus id. </h4>
                </div>
              </div>
            </a>
          </div>
      
      
          <div class="col-md-4">
            <a href="https://www.creative-tim.com/knowledge-center/getting-started/">
              <div class="card card-pricing border-0 text-center mb-4" style="background-color: #FB6340;">
                <div class="card-body ">
                 
                  <h3 class="card-title text-white text-center">Payments</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit, doloremque id. Dolor sequi dolores quibusdam minus architecto quae necessitatibus id. </h4>
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
      
      <div class="container mt-3">
      <div class="row">
          
          <div class="col-md-4">
            <a href="https://www.creative-tim.com/knowledge-center/getting-started/">
              <div class="card card-pricing bg-default card-background">
                <div class="card-body">
                  
                  <h3 class="card-title text-white text-center">Affiliated</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit, doloremque id. Dolor sequi dolores quibusdam minus architecto quae necessitatibus id. </h4>
                </div>
              </div>
            </a>
          </div>
      
      
      
      
          <div class="col-md-4">
            <a href="https://www.creative-tim.com/knowledge-center/getting-started/">
              <div class="card card-pricing text-center" style="background-color: #F5365C;">
                <div class="card-body">
                  
                  <h3 class="card-title text-white text-center">Services</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit, doloremque id. Dolor sequi dolores quibusdam minus architecto quae necessitatibus id. </h4>
                </div>
              </div>
            </a>
          </div>
      
      
          <div class="col-md-4">
            <a href="https://www.creative-tim.com/knowledge-center/getting-started/">
              <div class="card card-pricing bg-primary border-0 text-center mb-4">
                <div class="card-body ">
                  
                  <h3 class="card-title text-white text-center">Terms and condition</h3>
                  <h4 class="card-subtitle font-weight-normal text-white"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit, doloremque id. Dolor sequi dolores quibusdam minus architecto quae necessitatibus id. </h4>
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img class=" mx-auto p-2" src="/static/svg/tax_tool/help_center/idea.svg" alt="">
      </div>
      <div class="col-md-4 p-2">
        <p class="display-3 text-left font-weight-600">Out of box Question?</p>
        <p class="font-weight-600 ">We love to here</p>
      </div>
      
      <div class="col-md-3 p-2 mt-3">
       <p class="font-weight-600 ml-3">Send us email with more detail about your specific needs</p>
      </div>

      <div class="col-md-3 p-2 mt-4">
        <button class="btn btn-success ml-3">Send a Request</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
<!-- First Panel -->

{% block script %}

<script>
    $('.nav-item a').removeClass('btn btn-primary text-white');
    $('.help_center-item a').addClass('btn btn-primary text-white');
    $('.help_center-item a img').attr('src','/static/svg/dashboard_base/help_center_w.svg');

    </script>
{% endblock script %} {% endcomment %}

