{% extends "dashboard_base_for_business.html" %}

{% load static %}

{% block content %}
<style>
  .table{
    border-spacing:0 0px;
  }
  .container{
    max-width: 1400px;
  }
  .avatar{
    border: 4px solid white !important;
  }

  .roundness {
    border-radius:8px;
  }

  .text-dark {
    color: #212529 !important;
    font-size: 14px;
    font-weight: 600;
}
.card-body {
    min-height: 2px;
    padding: 2.25rem;
    flex: 1 1 auto;
}
hr {
    padding: 0;
    margin: 0;
}
 
.table td, .table th {
    font-size: 14px;
    white-space: nowrap;
    line-height: 12px;
    color: #000000;
}
.table th {
    font-weight: 400;
}
.avatar-xl {
    width: 170px;
    height: 170px;
}
.img-fluid {
    max-width: 40px;
    height: auto;
    margin-top: auto;
}
.font-weight-800 {
    font-weight: 800 !important;
    font-size: 12px;
}
.card-profile-stats {
    padding: 0rem 0;
}
.form-control {
    font-size: .8rem;
    margin-top: 0px;
}
.p-4 {
    padding: 0.5rem !important;
}
</style>


        

{% comment %} admin profile content start {% endcomment %}
<div class="mt-3 container">
  <div class="row">
    <div class="col-md-12 px-0 mb-3">
      <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row " id="tabs-icons-text" role="tablist">
            <li class="col text-center">
                <a class="nav-link mb-sm-3 mb-md-0 active"  style="font-size:20px;" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Admin Profile</a>
            </li>
            <li class="col text-center">
                <a class="nav-link mb-sm-3 mb-md-0 h1" id="tabs-icons-text-2-tab"  style="font-size:20px;" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Clients Profile</a>
            </li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body px-3">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            <div class="row">
            {% comment %} admin profile panel start  {% endcomment %}
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <b class="text-dark"  style="font-size:20px;">
                    <span>
                      <u>USER INFORMATION</u>
                    </span>
                  </b>
                </div>
              </div>
              <div class="p-3">
                <div class="row pt-3">
                  <div class="col">
                    <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                      Your Name
                    </p>
                    <p class="text-dark my-auto font-weight-bold d-md-none">
                      Name
                    </p>
                  </div>
                  <div class="col-8">
                    {% if request.user.update_profile.first_name %}
                      <p class="text-dark my-auto font-weight-bold" scope="col">{{request.user.update_profile.first_name}}</p>
                    {% elif reg_data %}
                      {% for i in reg_data %}
                        <p class="text-dark my-auto font-weight-bold" scope="col">{{ i.name }}</p>
                      {% endfor %}
                    {% else %}
                      <p class="text-dark my-auto font-weight-bold" scope="col">{{request.user.first_name}}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                      Your Gmail
                    </p>
                    <p class="text-dark my-auto font-weight-bold d-md-none">
                      Gmail
                    </p>
                  </div>
                  <div class="col-8">
                    {% if request.user.update_profile.email %}  
                      <p class="text-dark my-auto font-weight-bold" scope="col">{{request.user.update_profile.email}}</p>
                    {% elif reg_data %}
                      {% for i in reg_data %}
                        <p class="text-dark my-auto font-weight-bold" scope="col">{{ i.user }}</p>
                      {% endfor %}
                    {% else %}
                      <p class="text-dark my-auto font-weight-bold" scope="col">{{request.user.email}}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                      Mobile Number
                    </p>
                    <p class="text-dark my-auto font-weight-bold d-md-none">
                      M. No.
                    </p>
                  </div>
                  <div class="col-8">
                    {% if request.user.update_profile.mobile_number %}
                      <p class="text-dark my-auto font-weight-bold" scope="col">{{request.user.update_profile.mobile_number}}</p>
                    {% elif reg_data %}
                      {% for i in reg_data %}
                        <p class="text-dark my-auto font-weight-bold" scope="col">{{ i.contact_number }}</p>
                      {% endfor %}
                    {% else %}
                      <p class="text-dark my-auto font-weight-bold" scope="col">-NA-</p>
                    {% endif %}
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                      Date Of Birth
                    </p>
                    <p class="text-dark my-auto font-weight-bold d-md-none">
                      DOB
                    </p>
                  </div>
                  <div class="col-8">
                    {% if request.user.update_profile.dob %}
                      <p class="text-dark my-auto font-weight-bold" scope="col"><b>{{ request.user.update_profile.dob|date:"Y-m-d" }}</b></p>
                    {% elif reg_data %}
                      {% for i in reg_data %}
                        <p class="text-dark my-auto font-weight-bold" scope="col">{{ i.date_of_birp }}</p>
                      {% endfor %}{% else %}
                      <p class="text-dark my-auto font-weight-bold" scope="col">-NA-</p>
                    {% endif %}
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <p class="text-dark my-auto font-weight-bold"> 
                      <a href="{% url 'changepass' %}"> Change Password </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card roundness">
                    <div class="card-header bg-info" style="background-color: rgb(106, 106, 213);">
                      <div class="card-avatar">
                        <a href="">
                          <img class="img mt-3 img-raised rounded-circle avatar-xl avatar mx-auto d-block" src="{% if request.user.last_name %}
                          {{request.user.last_name}}
                            {%else%}
                            {% static '/assets_dashboard/img/theme/team-4.jpg' %}
                            {%endif%}
                            ">
                        </a>
                        <div>
                          <h2 class="text-center text-white my-4" style="font-size:18px;">{%if request.user.email %}{{request.user.email}}{%else%}{{request.user}}{%endif%}</h2>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                    <div class="card pt-0">
                      <div class="card-body px-3">
                        <div class="row">
                          <div class="col">
                            <div class="card-profile-stats text-center">
                              <div class="description">Referral Points</div>
                              <div>
                                <img src="/static/assets_design/img/hand-gesture 1.png" alt="" class="img-fluid mx-auto" width="60px" height="80px">
                                <span style="font-size: 25px;font-weight: 500;margin-top: 3rem;">{{request.user.referral_points.list_of_referral.count}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col border-left">
                            <div class="card-profile-stats text-center">
                              <div class="description">Trees Planted</div>
                              <div>
                                <img src="/static/assets_design/img/planting 1.png" alt="" class="img-fluid mx-auto" width="60px" height="80px">
                                <span style="font-size: 25px;font-weight: 500;">{{request.user.referral_points.tree_plants}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="border-top">
                          <div class="row mt-3">
                            <div class="col-md-12">
                              <h5 class="h5">Referral ID</h5>
                            </div>
                          </div>
                          <div class="font-weight-800 mt-3">
                            <div class="row">
                              <div class="col-6 text-center">
                                <input class="form-control text-center border-light" type="text" value="{{request.user.referral_points.referral_id}}" id="myInput">
                              </div>
                              <div class="col-6">
                                <button id="referralcopy" class="btn btn-primary " onclick="myFunction()">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                  <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
                                </svg></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          {% comment %} amin profile panel end  {% endcomment %}



          {% comment %} client profile panel start  {% endcomment %}
          <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab" >
            <div class="row">
              <div class="col-md-12">
                <b class="text-dark"  style="font-size:20px;">
                  <span>
                    <u>USER INFORMATION</u>
                  </span>
                </b>
              </div>
            </div>
            <div class="p-3">
              <div class="row pt-3">
                <div class="col my-auto">
                  <p class="text-dark my-auto font-weight-bold ">
                    PAN
                  </p>
                </div>
                <div class="col-8">
                  <select  class="form-control-sm" style="height:40px; background:white; font-size:14px;border:1px solid #43a1f6;" id="selectpan"> <option>Select </option>
                    {% for xmldata in pan %}
                    <option> {{xmldata}}  </option>
                    {% endfor %}
                  </select> 
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    First Name
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    Name
                  </p>
                </div>
                <div class="col-8">
                  <p id="name_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold ">
                    Gmail
                  </p>
                </div>
                <div class="col-8">
                  <p id="email_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    Mobile Number
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    M. No.
                  </p>
                </div>
                <div class="col-8">
                  <p id="contact_num_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    Date of Birth
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    DOB
                  </p>
                </div>
                <div class="col-8">
                  <p id="dob_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    Aadhar Number
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    Aadhar
                  </p>
                </div>
                <div class="col-8">
                  <p id="aadhaar_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12">
                <b class="text-dark"  style="font-size:20px;"><u>Bank Details</u></b>
              </div>
            </div>
            <div class="p-3">
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    Account Number
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    A/c
                  </p>
                </div>
                <div class="col-8">
                  <p id="acc_num_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    Bank Name
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    Bank
                  </p>
                </div>
                <div class="col-8">
                  <p id="bank_name_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    IFSC Code
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    IFSC
                  </p>
                </div>
                <div class="col-8">
                  <p id="ifsc_code_id" class="text-dark my-auto font-weight-400 "></p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <p class="text-dark my-auto font-weight-bold d-none d-md-block">
                    Postal Code
                  </p>
                  <p class="text-dark my-auto font-weight-bold d-md-none">
                    Postal
                  </p>
                </div>
                <div class="col-8">
                  {% if request.user.update_profile.postal_code %}
                    <p class="text-dark my-auto font-weight-400 " scope="col">{{request.user.update_profile.postal_code}}</p>
                  {% elif postal_code %}
                    {% for i in postal_code %}
                      <p class="text-dark my-auto font-weight-400 " scope="col">{{ i }}</p>
                    {% endfor %}
                  {% else %}
                    <p class="text-dark my-auto font-weight-400 " scope="col">-NA-</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div> 
        </div>
        </div>
      </div>
    </div>
    {% comment %} client profile panel end  {% endcomment %}
  </div>
</div>
  {% comment %} end admin profile content  {% endcomment %}

  
{% block script %}



<script>
  function myFunction() {
    var copyText = document.getElementById("myInput");
    document.getElementById("referralcopy").innerHTML = "Copied";
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    //alert("Copied the text: " + copyText.value);
  }
  </script>
<script type="text/javascript">
  $('#selectpan').click(function(){  
    var optionSelected = $(this).find("option:selected");
    var pan_card_number   = optionSelected.text();
    if (pan_card_number == "Select"){
            $('#selectpan').remove();
    }
    else {
    $.ajax(
    {
        url: "ajax_call_for_profile_data",
        data:{
          pan_card_number:pan_card_number
        },
        success: function(result) 
        {
                  
        $("#name_id1").remove();
        $("#email_id1").remove();
        $("#contact_num_id1").remove();
        $("#dob_id1").remove();
        $("#aadhaar_id1").remove();
        $("#acc_num_id1").remove();
        $("#ifsc_code_id1").remove();
        $("#bank_name_id1").remove();
        $("#name_id").append('<span id="name_id1" >'+ result[0].name +'</span>');
        $("#email_id").append('<span id="email_id1" >'+ result[0].email +'</span>');
        $("#contact_num_id").append('<span id="contact_num_id1" >'+ result[0].mobile_number +'</span>');
        $("#dob_id").append('<span id="dob_id1" >'+ result[0].dob +'</span>');
        $("#aadhaar_id").append('<span id="aadhaar_id1" >'+ result[0].aadhar_number +'</span>');
        $("#acc_num_id").append('<span id="acc_num_id1" >'+ result[0].acc_num +'</span>');
        $("#ifsc_code_id").append('<span id="ifsc_code_id1" >'+ result[0].ifsc_code +'</span>');
        $("#bank_name_id").append('<span id="bank_name_id1" >'+ result[0].bank_name +'</span>');


        }
     })
    }
});
</script>
<script>
  $('.nav-item a').removeClass('btn btn-primary text-white');
  $('.home_dashbaord-item a').addClass('btn btn-primary text-white');
  $('.home_dashbaord-item a img').attr('src','/static/svg/dashboard_base/dashbaord_w.svg');
  
</script>
{% endblock script %}
{% endblock content %}