{% extends 'base.html' %}
{%load static%}

{%block content%}

<style>
  fieldset {
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #ccc;
  }
</style>

<body>

<!-- head -->

<div class="container mt-9">
  <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
      
      <li class="nav-item">
          <a class="nav-link mb-sm-3 mb-md-0 " id="tabs-text-1-tab" href="{% url 'paytax_personal_info' %}" >Personal Info</a>
      </li>
  <li class="nav-item">
    <a class="nav-link mb-sm-3 mb-md-0 " id="tabs-text-2-tab" href="{% url 'paytax_income_salary' %}" >Income Source</a>
  </li>
  <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-3-tab" href="{% url 'paytax_deduction' %}#tabs-text-3" >Deduction</a>
  </li>
  <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 "  id="tabs-text-4-tab" href="{% url 'paytax_taxpaid_tds' %}" >Taxes Paid</a>
  </li>
  <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 " id="tabs-text-5-tab" href="{% url 'paytax_tax_filing' %}#tabs-text-5" >Tax Filing</a>
  </li>
</ul>
</div>
<!--input 1-->
<ul class="nav nav-pills container nav-fill flex-column flex-lg-row mt-6"  role="tablist">
  <li class="nav-item">
    <a class="nav-link mb-sm-3 mb-md-0 " href="{% url 'paytax_deduction' %}#personal" >Section 80 Deductions</a>
  </li>
  <!-- <li class="nav-item"></li> -->
  <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 "  href="{% url 'paytax_more_deduction' %}#tabs-text-2" >More Deductions</a>
  </li>
  <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 "  href="{% url 'paytax_other_deduction' %}#tabs-text-2" >Other Deductions</a>
  </li>
  <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 active"  href="{% url 'paytax_investment_detail' %}#tabs-text-2" >Investment Details</a>
  </li>
</ul>

<!-- head -->


<style>
  fieldset {
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #ccc;
  }
</style>

<div class="container mt-9">
  <div class="row">
    <div class="col-md-6">
    <h4>Investment made in Extended Period</h4>
    </div>
    <div class="col-md-4">
      <p>No Investment in this period?</p>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-sm">Go To Next</button>
    </div>
  </div>
</div>


<div class="container mt-2">
  <p class="text-dark">
    Last date for Tax Saving Investments extended from 31 March 2020 to 31 Jul 2020 for AY2020-21.
    <br>If you have <b>made any investments in this extended period</b>  towards claming <b>deductions for AY2020-21</b> , you <b>need to fill this section. </b> 
  </p>

  <p class="text-dark mt-5">
    <b>Please Note:</b> If you have made any investments between 1 Apr 2020 - 31 Jul 2020 for AY2021-22 you should not enter the details here
  </p>


  <p class="text-dark text-center mt-7">
   <b>You have not claimed any deductions. Please <a href="">claim them here</a> to continue with adding investment details.</b>  
  </p>
</div>

{%endblock%}