{% extends 'base.html' %}
{%load static%}


{% block content %}
<style>
  fieldset {
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em;
    border: 1px solid #ccc;
  }

  fieldset,
  #IE8#HACK {
    padding-top: 1.4em;
  }


  
</style>

<body>


  <div class="container mt-9">
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
        
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 " id="tabs-text-1-tab" href="{% url 'paytax_personal_info' %}" >Personal Info</a>
        </li>
    <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-2-tab" href="{% url 'paytax_income_salary' %}" >Income Source</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0 " id="tabs-text-3-tab" href="{% url 'paytax_deduction' %}#tabs-text-3" >Deduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0 "  id="tabs-text-4-tab" href="{% url 'paytax_taxpaid_tds' %}" >Taxes Paid</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0 " id="tabs-text-5-tab" href="{% url 'paytax_tax_filing' %}#tabs-text-5" >Tax Filing</a>
    </li>
  </ul>
  </div>
<!--input 1-->
<ul class="nav nav-pills container nav-fill flex-column flex-lg-row mt-6"  role="tablist">
    <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 " href="{% url 'paytax_income_salary' %}#personal" >Salary</a>
    </li>
    <!-- <li class="nav-item"></li> -->
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0 "  href="{% url 'paytax_income_other_income' %}#tabs-text-2" >Other Income</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0 active"  href="{% url 'paytax_income_house_property' %}#tabs-text-2" >House Property</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0 "  href="{% url 'paytax_income_capital_gain' %}#tabs-text-2" >Capital Gain</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-sm-3 mb-md-0"  href="{% url 'business_and_profession' %}#tabs-text-2" >Business & Profession</a>
    </li>
  </ul>

  <!--First-->

  <div class="container mt-9">
    <div class="row">
      <div class="col-md-10">
        <b class="text-dark">Income from other sources</b>
      </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-sm">Go To Next >></button>
      </div>

      <div class="ml-3">
        <p class="small mt-5">This section consists of interest income, dividend income, agricultural income and all
          other incomes excluding salary, income from house property or capital gains or business/profession.</span>
      </div>
    </div>
  </div>

<div class="container">
  <div class="alert alert-success alert-dismissible fade show" role="">
    <span class="alert-inner--icon"><i class="ni ni-check-bold"></i></span>
    <span class="alert-inner--text"><strong>Everything looks cool</strong> </span>
  </div>
</div>

<div class="container mt-4">
  
    <span class="small">In case you paid <strong>Interest on Housing Loan for house property you live in </strong>(self-occupied property) or If you own a house and are earning rent on it then specify the details here.</span>
  </div>
</div>

<div class="container mt-4">
  
  <span class="small"><strong>Please Note: </strong>If you are paying rent to someone else, you should not enter the amount in this section. Instead refer to the HRA exemption in the Salary Page in INCOME SOURCES if you are a salaried employee or refer to the section 80GG in the deductions if you are non-salaried or self-employed (Deductions > More Deductions > Add Special Deductions > 80GG).</span>
</div>
</div>


<div class="container mt-5">
  <fieldset>
    <legend class="text-dark">House Property Details</legend>
      <div class="col-md-4 mt-4">
        <label for="text" class="text-dark">Type of House Property<span class="text-danger"></span> </label>
        <select class="form-control" data-trigger="" name="choices-single-default" id="choices-single-default">
          <option value="1">Self-occupied House Property</option>
          <option value="2">Rental Property</option>
          <option value="3">Deemat Let Out Property</option>
          
        </select>
      </div>
    </div>
  </fieldset>
</div>


<div class="container mt-5">
  <fieldset>
    <legend class="text-dark">Estimated Income from the House Property</legend>
    <div class="form-group ">
      <div class="col-md-8 mt-4">
        <b class="text-dark">Interest Income from Deposits</b>
        <br>
        <span class="small">You can also enter income from post-office saving deposits here.</span>
        <input type="text" placeholder="" class="form-control" />
      </div>


      <div class="col-md-8 mt-4">
        <b class="text-dark">Interest Income from Deposits</b>
        <br>
        <span class="small">Interest from sweep accounts converted to FDs, post-office fixed deposits also specified
          here</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
  </fieldset>
</div>


<div class="container mt-5">
  <fieldset>
    <legend class="text-dark">Interest paid on housing loan for this house property</legend>
    <div class="form-group ">
      <div class="col-md-8 mt-4">
        <p class="text-dark small">If you have a housing loan against a house you live in then you can claim a tax deduction of upto Rs. 2,00,000</p>
        <br>
        <b class="text-dark">Interest paid on loan for this house property</b>
        <input type="text" placeholder="9,00,000" class="form-control" />
      </div>
    </div>
  </fieldset>
</div>


<div class="container mt-5">
  <fieldset>
    <legend class="text-dark">Interest paid during the pre-construction period of house property</legend>
    <div class="form-group ">
      <div class="col-md-8 mt-4">
        <a href="#" class="small mt-2">In depth explanation of this section is here</a>
        <br>
        <b class="text-dark">Total interest amount paid during the pre-construction period</b>
        <br>
        <span class="small">Interest paid from date of borrowing till 31st March of previous financial year.</span>
        <div class="col-md-6">
          <form>
            <select class="form-control" data-trigger="" name="choices-single-default" id="choices-single-default">
              <option disabled="">2018</option>
              <option value="2">2019</option>
              <option value="3">2020</option>
              <option value="4">2021</option>
            </select>
          </form>
        </div>
      </div>


      <div class="col-md-8 mt-4">
        <b class="text-dark">Interest Income from Deposits</b>
        <br>
        <span class="small">Interest from sweep accounts converted to FDs, post-office fixed deposits also specified
          here</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
  </fieldset>
</div>

<div class="container">
<div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" id="customCheck1" type="checkbox">
  <label class="custom-control-label" for="customCheck1">
    <span class="text-dark">Same as Above</span>
  </label>
</div>
</div>


<form>
  
  <div class="container mt-5">
    <fieldset>
       <legend class="text-dark">Your House Address</legend>
      <div class="row">
          <div class="col">

              <div class="form-group row my-3">
                  <div class="col-md-6">
                  <label for="first_name">Flat/Door/Block Number <span class="text-danger">*</span> </label>
                  <input type="text" placeholder="" class="form-control"/>
              </div>
              <div class="col-md-6">
                  <label for="">Premise Name This field is optional.</label>
                  <input type="text" placeholder="" class="form-control">
              </div>
              <div class="col-md-6 mt-4">
                  <label for="">Road / Street This field is optional.</label>
                  <input type="text" placeholder="Doe" class="form-control">
              </div>
              <div class="col-md-6 mt-4">
                  <label for="pincode" >Pincode <span class="text-danger">*</span> </label>
                  <input type="number" placeholder="462003" class="form-control">
                  
              </div>
              <div class="col-md-6 mt-4">
                  <label for="">Area / Locality.</label>
                  <input type="text" placeholder="" class="form-control">
              </div>
              <div class="col-md-6 mt-4">
                  <label for="">Town / City.</label>
                  <input type="text" placeholder="" class="form-control">
              </div>
              <div class="col-md-6 mt-4 ">
                  <label for="Father name">Country <span class="text-danger">*</span> </label>
                  <select class="form-control" data-trigger="" name="choices-single-default" id="choices-single-default">
                      <option value="1">INDIA</option>
                      <option value="2">Married</option>
                  </select>
              </div>
              <div class="col-md-6 mt-4 ">
                  <label for="Father name">State<span class="text-danger">*</span> </label>
                  <select class="form-control" data-trigger="" name="choices-single-default" id="choices-single-default">
                      <option value="1">Unmarried</option>
                      <option value="2">Married</option>
                  </select>
              </div>
              <div class="col-md-6 mt-4">
                  <label for="number">Mobile Number<span class="text-danger">*</span> </label>
                  <input type="number" placeholder="Mobile Number" class="form-control">
              </div>
              
              <div class="col-md-6 my-4">
                  <label for="Father name">Email Adress <span class="text-danger">*</span> </label>
                  <input type="text" placeholder="John@mail.co" class="form-control">
              </div>
              <div class="col-md-6 my-4">
                  <label for="Father name">Email Adress (Secondary) <span class="text-danger">*</span> </label>
                  <br> <small>Tip: If you are using an official email ID, enter your personal ID here</small>
                  <input type="text" placeholder="John@mail.co" class="form-control">
              </div>
              
          </div>
      </div>
      <div class="col-md-3">
          <div class="card fixed" style="width: 20rem;">
              <div class="card-body">
                <h4 class="card-title">Get a tax expert to file your return</h4>
                <h6 class="card-subtitle mb-2 text-muted">Hurry Up!!</h6>
                <p class="card-text">Filing return yourself is Free.

                  If you need an expert's help, you can opt for our paid plans starting ₹999.</p>
                <a href="javascript:;" class="btn btn-success p-3"><b>SEE PLANS</b> </a>
              </div>
            </div>
      </div>
    </div>
    </fieldset>
  </div>
</form>

<form action="/action_page.php">
  <div class="container">
  <fieldset>
   
    <b>Co-Owners Details</b>
    <div class="row">
      <div class="col-md-8">
        <p class="small">In case this property is jointly owned, please specify co-owners:</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-sm">Specify Co-owners</button>
      </div>
    </div>
  </fieldset>
</div>
 </form>

<div class="col-md-12 my-5 ml-7">
  <button class="btn btn-primary">Save & Next</button>
</div>



  



{%endblock%}